:root {
    --bg_main: #0a1f44;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --orange: #ff8c00;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../IMG/Clima.jpg);
    width: 100%;
    height: 95.9vh;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 60px;
    color: darkgoldenrod;
    display: block;
}

.container{
    margin-left: 600px;
    align-items: center;
    justify-content: center;
}

.container form{
    position: relative;
    display: flex;
    align-items: center;
}

.container input{
    border: none;
    background: none;
    outline: none; 
    border-bottom: 1px solid;
    height: 40px;
    padding: 5px 5px 10px;
    color: white;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    display: inline-block;
    margin-left: 10px;
    transition: all 0.3s;
}

.container input::placeholder{
    color: currentColor;
}


.container button{
    background: var(--red);
    cursor: pointer;
    border-radius: 10px;
    padding-left: 5px;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    transition: all 0.3s;
}

.container button:hover{
    background: var(--bg_main);
    transform: scale(1.05);
}